* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $bg_light;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}