$white_light: #fff;
$gray_light: #d5d5d5;
$blue_light: #4880ff;
$green_light: #00b69b;
$red_light: #f93c65;
$yellow_light: #ffd56d;

// light mode

$bg_light: #f5f6fa;
$black_light: #202224;

// dark mode

$bg_dark: #1b2431;
$black_dark: #273142;

// fonts

$nunito_fonts: "Nunito Sans", sans-serif;
