$white_light: #fff;
$gray_light: #D5D5D5;
$blue_light: #4880FF;
$green_light: #00B69B;
$red_light: #F93C65;
$yellow_light: #FFD56D;


// light mode

$bg_light: #F5F6FA;
$black_light: #202224;

// dark mode

$bg_dark: #1B2431;
$black_dark: #273142;

 // fonts

 $nunito_fonts : "Nunito Sans", sans-serif;