// body

.body_light {
  background: $bg_light;
  color: $black_light;
}

.body_dark {
  background: $bg_dark;
  color: $white_light;
}

// header

.header {
  background: $white_light;
}

.header_dark {
  background: $black_dark;
}

.header_notice {
  color: $blue_light;
}

.header_notice_dark {
  color: $white_light;
}

.header_profile_title {
  color: rgba($black_light, 0.8);
}

.header_profile_title_dark {
  color: rgba($white_light, 0.8);
}

.header_input {
  background: #f5f6fa;
  border: 0.6px solid #d5d5d5;
  color: $black_light;

  &::placeholder {
    color: #959595;
  }
}

.header_input_dark {
  background: #323d4e;
  border: 0.6px solid #cfcfcf1c;
  color: $white_light;

  &::placeholder {
    color: $white_light;
  }
}

.header_search_icon {
  color: #959595;
}

.header_search_icon_dark {
  color: $white_light;
}

// navbar

.navbar {
  background: $white_light;
}

.navbar_dark {
  background: $black_dark;
}

.navbar_link {
  background: $white_light;
  border: 2px solid $gray_light;

  & .navbar_text {
    color: $black_light;
  }

  & .navbar_icon {
    color: $black_light;
  }
}

.navbar_link_dark {
  background: #323d4e;
  border: 2px solid #cfcfcf1c;

  & .navbar_text {
    color: $white_light;
  }

  & .navbar_icon {
    color: $white_light;
  }
}

// home

.card_item {
  background: $white_light;
}

.card_item_dark {
  background: $black_dark;
}

.trend_span {
  color: $black_light;
}

.trend_span_dark {
  color: $white_light;
}

.card_icon_bg_blue {
  background: rgba($blue_light, 0.25);
}

.card_icon_bg_yellow {
  background: rgba($yellow_light, 0.25);
}

.card_icon_bg_green {
  background: rgba($green_light, 0.25);
}

.card_icon_bg_red {
  background: rgba($red_light, 0.25);
}

.card_icon_bg_blue_dark {
  background: $blue_light;
}

.card_icon_bg_yellow_dark {
  background: $yellow_light;
}

.card_icon_bg_green_dark {
  background: $green_light;
}

.card_icon_bg_red_dark {
  background: $red_light;
}

.card_icon_blue {
  color: $blue_light;
}

.card_icon_yellow {
  color: $yellow_light;
}

.card_icon_green {
  color: $green_light;
}

.card_icon_red {
  color: $red_light;
}

.card_icon_white_dark {
  color: $white_light;
}