.finace__navbar {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 30px;
  margin-top: 30px;
  overflow-x: scroll;
  white-space: nowrap;
  padding: 13px;

  &::-webkit-scrollbar {
    display: none;
  }

  .finace__card {
    padding: 20px;
    box-shadow: 0px 0px 15px 1px rgba(34, 60, 80, 0.2);
    height: 55px;
    border-radius: 34px;
    background: $white_light;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
    color: $black_light;
    transition: all 0.5s linear;

    &.active {
      color: white;
      background-color: $blue_light;
      transform: scale(1.05);
    }

    &:hover {
      color: white;
      background-color: $blue_light;
      transform: scale(1.08);
    }

    .finace__icon {
      font-family: Nunito Sans;
      font-size: 20px;
      font-weight: 600;
      line-height: 22px;
      letter-spacing: 0px;
      object-fit: contain;
    }
  }
}
